@charset "UTF-8";
body {
	font-family: "Helvetica Neue",
	  Arial,
	  "Hiragino Kaku Gothic ProN",
	  "Hiragino Sans",
	  Meiryo,
	  sans-serif;
  }

.logo{
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px 0 15px 30px;
	width: 157px;
}
.logo img{
	width: 100%;
	height: auto;
}
.fix_menu{
	position: fixed;
	width: 100%;
	max-width: 1200px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999;
	padding: 30px 0;
}
#navwrap{
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 30px 15px 0;
}
.header_menu{
	display: flex;
}
ul,li{
	list-style: none;
	margin: 0;
}
.header_menu li a{
	cursor: pointer;
	padding: 0 10px;
	text-decoration: none;
	color: #006036;
}
#switch{
	display: none;
}
.main p{
	padding: 500px 0;
	text-align: center;
}
@media screen and (max-width:768px) {
	#switch ~ label {
		padding: 12px 12px;
		width: 60px;
		height: 60px;
		background: #006036;
		position: fixed;
		box-sizing: border-box;
		top: 0;
		right: 0;
		z-index: 999;
		cursor: pointer;
	}
	#switch ~ label span{
		display: block;
		width:22px;
		height:2px;
		top: 50%;
		left: 0;
		right: 0;
		margin:auto;
		background: #fff;
		position: absolute;
		-webkit-transition: 0.2s transform;
		transition: 0.2s transform;
	}
	#switch ~ label span:before,
	#switch ~ label span:after{
		content: "";
		display: block;
		background: #fff;
		position: absolute;
		width:22px;
		height:2px;
		left: 0;
		right: 0;
		margin: auto;
	}
	#switch ~ label span:before{
		top: -9px;
	}
	#switch ~ label span:after{
		top: 9px;
	}
	#navwrap{
		padding-top: 0;
		position: fixed;
		top: -100%;
		left: 0;
		width: calc(100% - 60px);
		height: 100%;
		background: rgba(0, 96, 54, 0.8);
		transition: all 0.4s;
		padding: 60px;
		box-sizing: border-box;
	}
	#switch:checked ~ #navwrap { 
		display: block; 
		top: 0;
	}
	.header_menu{
		display: flex;
		flex-direction: column;
	}
	.header_menu li{
		margin: 0 auto 30px;
	}
	.header_menu li a{
		color: #fff;
	}
	.scroll-prevent {
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
}

.container{
	background-image: url("../image/library_image.jpg"); /* 画像のパスを指定 */
    background-size: cover; /* 画像をコンテナ全体にカバー */
    background-position: center; /* 画像の位置を中央に設定 */
    width: 100%; /* 幅を100%に設定 */
    height: 300px; /* 高さを指定（必要に応じて変更） */
    display: flex; /* 中のコンテンツを中央に配置するためのフレックスボックス */
    justify-content: center; /* 横方向の中央寄せ */
    align-items: center; /* 縦方向の中央寄せ */
    color: white; /
	width: 100%;
	max-width: 960px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
  }
  
.search-form-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid #006036;
    border-radius: 3px;
}

.search-form-1 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-1 input::placeholder{
    color: #777777;
}

.search-form-1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #006036;
    cursor: pointer;
}

.search-form-1 button::after {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
}

.button-55 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    margin-top: 30px;
    padding: .9em 2em;
    border: none;
    border-radius: 5px;
    background-color: #006036;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.button-55::after {
    width: 1.25em;
    height: 1.25em;
    margin-left: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
    content: '';
}

.button-55:hover {
    background-color: #005026;
}

.box-013 {
    max-width: 800px;
    margin: 50px;
    border: 2px solid #ff0000;
    border-radius: 3px;
}

.box-013 span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 0;
    background-color: #ff0000;
    color: #fff;
    font-weight: 600;
}

.box-013 p {
    margin: 0;
    padding: 1em 1.5em;
    color: #333;
}

.news_container {
	width: 90%;
	max-width:1000px;
	margin: 50px auto;
	}
	.news_title {
	color: #006036;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	}
	.news_list {
	margin: 20px 0;
	border-top: 1px dashed #006036;
	}
	.news_list li {
	padding: 15px 5px;
	border-bottom: 1px dashed #2eb087;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	}
	.date {
	font-size: 16px;
	margin-right: 10px;
	}
	.category {
	display: inline-block;
	color: #fff;
	width: 120px;
	font-size: 14px;
	text-align: center;
	margin-right: 10px;
	padding: 2px 10px;
	background-color: #006036;
	}
	.news_text a {
	color: #333;
	}
	
	.news_btn {
	text-align: center;
	margin-top: 50px;
	}
	.news_btn a {
	color: #006036;
	}
	.btn {
	color: #006036;
	padding: 10px 50px;
	background: #fff;
	border: 2px solid #006036;
	border-radius: 50px;
	transition: all 0.5s;
	}
	.btn:hover {
	color: #fff;
	background: #006036;
	}
	.btn:after {
	font-family: 'Font Awesome 5 Free';
	content: "\f0da";
	font-weight: 900;
	padding-left: 10px;
	}
	
	@media screen and (max-width: 559px) {
	.news_container {
	width: 100%;
	padding: 0 20px;
	}
	.news_text a {
	display: block;
	margin-top: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	}
	}
